<!-- index page -->
<p id="detail">click here</p>
<div id="container">
	<img class="bg" src="/images/index_bg01.png">
	{{#themes}}
<!-- 	<a href="/theme/{{name}}">{{name}} - {{count}} - {{isOpen}}</a><br> -->


	<input type="hidden" id="{{name}}" data-name="{{name}}" data-if-is-open="{{isOpen}}" data-count= "{{count}}">
	
	{{/themes}}
</div>

<canvas id="background1" resize="true"></canvas>


<!-- <script src="/js/background.js"></script> -->
<script type="text/paperscript" canvas="background1" src="/js/background.js"></script>
