<!DOCTYPE html>
<html>

<style>
	body{
		background-color: rgba(20,20,20,0.7);
	}
</style>

<div id="background_layer">
	<div id="loginContainer">
		<h3>BEFORE YOU GO FURUTHER</h3>
		<br>

		<!-- login button -->
		{{^user}}
			<a href="/auth/facebook">
			<button class="bigButtons">Login with facebook</button>
			</a>
			<a href="/auth/twitter">
			<button class="bigButtons">Login with twitter</button>
			</a>			
		{{/user}}
	</div>
</div>

<img class="bg" src="/images/index_bg02.png">

<canvas id="backgroundCanvas" resize="true"></canvas>
<script type="text/paperscript" canvas="backgroundCanvas" src="/js/firstPage.js"></script>


</html>

