<!-- continue drawing with the theme -->

<div id="topArea">
	<div class="col-sm-3">
		Back to the main
	</div>
	<div class="col-sm-3">
		<!-- MENUS -->
		<a href="#" id="undo">Undo</a>
		<a href="#" id="clear">Clear</a>
	</div>
	<div class="col-sm-3"></div>
	<div class="col-sm-3">
		<a href="#" id="save"><b>SAVE</b></a><br>
	</div>
</div>



<div id="middleArea">

	<div id="canvasWrapper">
		<li>
		previous drawing
<!-- 		{{#infoData}}
		<li><img onmousedown="return false" class='previousDrawing crop' src={{imageData}}></li>
		{{/infoData}}  -->
		</li>

		<li>
		<canvas id="myCanvas" ></canvas>
		</li>
	</div>

</div>

<div id="bottomArea">
	<div id="toolBox">
		<div class="col-sm-2">
			<!-- TOOLS -->
			<a href="#" id="tool0">ERASER</a>
			
			<a href="#" id="tool1">tool1: Thin</a>
			<a href="#" id="tool2">tool2: Super Thick</a>
			<a href="#" id="tool3">tool3: dashed</a>	
		</div>
		<div class="col-sm-2">
			tool
		</div>
		<div class="col-sm-2">
			tool
		</div>
		<div class="col-sm-2">
			tool
		</div>
		<div class="col-sm-2">
			tool
		</div>
		<div class="col-sm-2">
			tool
		</div>

	</div> <!-- toolbox -->
</div>
	

</div> 




<!-- <div id="currentTheme" data-theme="memory" class="hideit"></div> -->
<script type="text/paperscript" canvas="myCanvas" src="/js/drawing.js"></script>
