<!-- continue drawing with the theme -->

<div id="topArea">
	this is topbar

	<br>
	<!-- MENUS -->
	<a href="/gallery"><b>GALLERY</b></a>
	<a href="#" id="save"><b>SAVE</b></a>
</div>



<div id="middleArea">
	{{#infoData}}
	<li><img onmousedown="return false" class='previousDrawing crop' src={{imageData}}></li>
	{{/infoData}} 

	<li>
	<canvas id="myCanvas"></canvas>
	</li>
</div>

<div id="bottomArea">
	<div id="toolBox">
		<div id="left">
			<!-- TOOLS -->
			<a href="#" id="brush1">Thin</a> <br>
			<a href="#" id="brush2">Thick</a> <br>
			<a href="#" id="weird">WEIRD BRUSH</a> <br>
		</div>
	</div> <!-- toolbox -->
</div>
	

</div> 




<!-- <div id="currentTheme" data-theme="memory" class="hideit"></div> -->
<script type="text/javascript" src="/js/drawing.js"></script>
