<!-- continue drawing with the theme -->

<div id="topArea">
	<div id="menuArea">
		<a href="#" class="btn btn-outline-inverse btn-sm" id="undo">Undo</a>
		<a href="/" class="btn btn-outline-inverse btn-sm" id="clear">Clear</a>
		<a href="#" class="btn btn-outline-inverse btn-sm" id="save"><b>SAVE</b></a>
	</div>
</div>

<div id="middleArea">

	<div id="canvasWrapper">
		<div class="previousDrawing">
			<div id="placeholderImage"></div>
			<img onmousedown="return false" id="preview" src="{{photo.imageData}}">
		</div>
		<canvas id="myCanvas"></canvas>
	</div>

</div>

<div id="bottomArea">
	<div id="toolBox">
		<!-- DEFAULT BRUSH AND ERASER -->
		<a href="#" id="tool0">ERASER</a>
		<a href="#" id="tool1">BRUSH</a>
	</div> <!-- toolbox -->
</div>
	

</div> 




<!-- <div id="currentTheme" data-theme="memory" class="hideit"></div> -->
<script type="text/paperscript" canvas="myCanvas" src="/js/drawing.js"></script>
