<style type="text/css">
	body{
		color: black;
	}
</style>
thank you for your submission {{name}} <br>

Let me know whenver drawing is done..!
<button id="pingMe">Let me know!!</button>
<br> <!--delete-->
============================<br> <!--delete-->
Invite Friends...! <br> <!--delete-->
<input type="text" class="inputs"><br> <!--delete-->
<button id="addInputs">Add more Friends</button>

<br> <!--delete-->
<br> <!--delete-->
<button id="invite">Invite!</button>



<a href="/">
back to the main
</a>

<script type="text/javascript" src="/js/email.js"></script>