<!-- temporary setting --> 
<style type="text/css">
	body{
		background-color: #B3FAD8;
		color: black;
	}

	#friendsArea{
		background-color: yellow;
	}
</style>


<div id="userArea">
	<!-- display user name -->
	{{#user}}
		<h4><a href="/dashboard">{{user.name}}</a></h4>
	{{/user}}
	<a href="/logout"><button class="smButtons">LOGOUT</button></a>
</div>


<br>
<br>
thank you for your submission {{name}} <br>

Let me know whenver drawing is done..!
<button id="pingMe">Let me know!!</button>
<!-- {{photo.isOpen}} -->
<br> <!--delete-->


============================<br> <!--delete-->
Invite Friends...! <br> <!--delete-->

<input type="text" class="inputs"><br> <!--delete-->


<div id="friendsArea"></div>
<button id="addInputs">Add more Friends</button>

<br> <!--delete-->
<br> <!--delete-->
<button id="invite">Invite!</button>



<a href="/">
back to the main
</a>

<script type="text/javascript" src="/js/email.js"></script>