<!-- temporary setting --> 
<style type="text/css">
	body{
		background-color: #83bdf5;
	}

	#background_layer{
		background-color: rgba(255,255,255,0);

		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5; 
	}


</style>


<div id="userArea">
	<!-- display user name -->
	{{#user}}
		<h4><a href="#">{{user.name}}</a></h4>
	{{/user}}
	<a href="/logout"><button id="logoutButton" class="smButtons">LOGOUT</button></a>
</div>


<div id="background_layer">
	<div id="submission">
		<br>
		<br>
		<span class="message">thank you for your submission,
		<br><b>{{name}}</b></span>
		<br>

		<!-- Let me know whenver drawing is done..!<br>
		<button class="bigButtons" id="pingMe">Let me know!!</button> -->
		<!-- {{photo.isOpen}} -->
<!-- 		<br>

		<hr></hr>

		<span class="message">Invite Friends</span><br>

		<br>
		<input type="text" class="inputs">
		<a href="/"><button class="smButtons" id="invite">Invite!</button></a>


		<div id="friendsArea"></div>
 -->

		<br>
		<br>
		<br>
		<a href="/"><button id="backToMain" class="bigButtons">
		back to the main
		</button></a>
	</div>
</div>



<script type="text/javascript" src="/js/email.js"></script>