/* load the font face from local machine */
@font-face {
  font-family: avenir-book;
  src: url(fonts/AvenirLTStd-Book.otf);
}
/*****************************************/
a {
  cursor: pointer;
}

*:focus {
  outline: 0;
}

/*****************************************/
body {
  background-color: #404040;
  font-family: avenir-book;
  color: white;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.5em;
}

.bigButtons {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  height: 50px;
  padding: 10px 20px;
}
.bigButtons:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.smButtons {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  height: 20px;
  padding: 5px 10px;
  font-size: 0.5em;
}
.smButtons:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#background_layer1 {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#loginContainer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

#background_layer2 {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: 12%;
  z-index: 5;
}

#topbar {
  color: white;
}

.bg {
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 4;
}

canvas {
  position: absolute;
  z-index: 1;
}

#popup {
  width: 500px;
  height: 300px;
  top: 100px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  visibility: hidden;
  position: relative;
  z-index: 5;
}

#topArea {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  background-color: magenta;
}

#middleArea {
  white-space: nowrap;
  margin-top: 120px;
  height: 480px;
}

#canvasWrapper {
  width: 1520px;
  margin: 0 auto;
}

.previousDrawing {
  width: 768px;
  height: 576px;
}

/*************/
#myCanvas {
  width: 768px;
  height: 576px;
  background-color: white;
  float: right;
  clear: right;
}

#bottomArea {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 23%;
  background-color: rgba(255, 255, 0, 0.5);
}

ul {
  margin-left: -34px;
}

li {
  margin-right: -3px;
  display: inline;
  list-style-type: none;
}

.galleryImages {
  width: 768px;
  height: 576px;
}

#makeNew {
  position: absolute;
  height: 480px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #topArea {
    background-color: yellow;
    opacity: 0.6;
    height: 12%;
  }

  #middleArea {
    margin-top: 80px;
  }

  #canvasWrapper {
    width: 1280px;
    margin-left: 120px;
    background-color: aqua;
  }

  .previousDrawing {
    width: 576px;
    height: 432px;
  }

  /*************/
  #myCanvas {
    width: 576px;
    height: 432px;
    background-color: white;
    float: right;
    clear: right;
  }

  #bottomArea {
    background-color: magenta;
    opacity: 0.2;
    height: 23%;
  }

  .tool-top {
    background-color: yellow;
    height: 10%;
  }

  .tool-bottom {
    background-color: red;
    height: 90%;
  }

  .galleryImages {
    width: 576px;
    height: 432px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  #topArea {
    background-color: aqua;
  }

  #middleArea {
    margin-top: 600px;
  }

  #canvasWrapper {
    width: 1400px;
    margin: 0 auto;
  }

  .previousDrawing {
    width: 640px;
    height: 480px;
  }

  /*************/
  #myCanvas {
    width: 640px;
    height: 480px;
    background-color: white;
    float: right;
    clear: right;
  }

  #bottomArea {
    background-color: aqua;
    height: 23%;
  }

  .galleryImages {
    width: 640px;
    height: 480px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  #topArea {
    background-color: yellow;
  }

  #canvasWrapper {
    width: 1400px;
    margin: 0 auto;
  }

  .previousDrawing {
    width: 640px;
    height: 480px;
  }

  /*************/
  #myCanvas {
    width: 640px;
    height: 480px;
    background-color: white;
    float: right;
    clear: right;
  }

  #bottomArea {
    background-color: yellow;
    height: 23%;
  }

  .galleryImages {
    width: 640px;
    height: 480px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
